/* ROOT */

:root {
    --primary-color: #ffc700;
    --primary-color-alpha75: rgba(255, 199, 0, 0.75);
    --primary-color-alpha80: rgba(255, 199, 0, 0.8);
    --primary-color-alpha90: rgba(255, 199, 0, 0.9);
    --primary-gray: #A9A9A9;
    --primary-dark: #191D24;
    --primary-darker: #0B0C0F;
    --black-alpha80: rgba(0, 0, 0, 0.8);
}

/* GLOBAL */

body {
    font-family: 'PF DinDisplay Pro', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #fff;
}

ul li {
    list-style-type: none;
}

p {
    font-family: 'Circe', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

h1.title {
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 110%;
    margin: 30px 0;
}

h1.title-small {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.button_flat_primary {
    border: none;
    width: 175px;
    height: 60px;
    background-color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin: 32px 0;
    text-transform: uppercase;
}

button.circle_btn_available {
    background-color: var(--primary-color);
}

/* HEADER */

header {
    background-image: url(/img/jpg/Header_Image.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}

header .wrapper { 
    padding-bottom: 0;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}

.header__top {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.header__hamburger-menu {
    align-self: center;
}

.header__nav {
    width: 500px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

.header__item--links {
    line-height: 40px;
}

.header__contacts {
    display: flex;
    align-items: center;
}

.header__contacts * {
    padding: 15px 15px 15px 45px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff;
    background-position: 20px center;
    height: 50px;
}

.header__btn {
    border: 1px solid #fff;
    background-image: url(/img/svg/Map_point.svg);
}

.header__tel {
    background-image: url(/img/svg/Call.svg);
}

.header__services {
    display: flex;
    justify-content: space-between;
}

.title__services {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    text-decoration: underline;
    width: 280px;
}

.header__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1200px;
}

.header__about {
    display: flex;
    flex-direction: column;
}

h1.header__title {
    color: #fff;
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    width: 550px;
}

.header__desc {
    line-height: 25.2px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin: 0;
    width: 420px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
}

.header__view-details {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.header__rent--info {
    display: flex;
    width: 478px;
    height: 198px;
    background: var(--primary-color-alpha75);
    font-size: 40px;
    line-height: 140%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* INFO PLUS */

.info-plus {
    background-color: #191D24;
}

.info-plus__text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    max-width: 671px;
}

.info-plus__highlights {
    width: 580px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 35px;
}

.arrow_paragraph {
    padding: 0 40px 34px;
    color: #fff;
    font-size: 18px;
    line-height: 120%;
    background: url(/img/svg/Yellow_Arrow.svg) no-repeat;
}

/* NEWS */

.news {
    display: flex;
}

.pagination {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 105px 20px 0 0;
    align-self: center;
}

.pagination img.page {
    padding-bottom: 25px;
}

.news__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.news__get {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 500px;
}

.news__get--selected {
    color: var(--primary-color);
    text-transform: uppercase;
}

.news__prev {
    background: url(/img/svg/arrow.svg);
    transform: rotate(180deg);
}

.news__next {
    background: url(/img/svg/arrow.svg);
}

.news__buttons {
    display: flex;
    flex-flow: row wrap;
    width: 124px;
    justify-content: space-between;
}

.news__buttons * {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    border: none;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
}

.news__post--latest {
    grid-column: span 2;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.news__posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

.news__post--regular, .news__post--latest {
    height: 482px;
    display: block;
    text-decoration: none;
    font-family: 'Circe', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-repeat: no-repeat;
}

.news__post--regular {
    padding-top: 229px;
}

.news__post--regular .border {
    justify-content: space-between;
}

.border {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding: 30px 52px 26px;
    height: 100%;
    border: 1px solid #000;
}

.news__post--regular .news__post.border {
    padding: 40px 30px 26px;
}

.news__post--latest .news__post--title {
    padding-bottom: 33px;
    font-weight: 600;
    font-size: 24px;
}

.news__post--regular .news__post--title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #000;
}

.news__post--info {
    border-top: 1px solid #fff;
    padding-top: 6px;
    display: flex;
    flex-flow: row wrap;
}

.news__post--regular .news__post--info {
    padding-top: 10px;
    border-top: 1px solid #000;
}

.news__post--regular .news__post--info * {
    margin-right: 20px;
    color: #000;
}

.news__post--info * {
    display: inline-block;
    padding-left: 30px;
    margin-right: 30px;
}

.news__post--info *::before {
    display: block;
    content: '';
}

.news__post--date::before {
    background: url(/img/svg/calendar.svg) no-repeat;
    width: 16px;
    height: 16px;
    transform: translate(-29px, 17px);
}

.news__post--views::before {
    background: url(/img/svg/eye.svg) no-repeat;
    width: 21px;
    height: 16px;
    transform: translate(-29px, 18px);
}

.news__post--regular .news__post--date::before {
    background: url(/img/svg/calendar_black.svg) no-repeat;
}

.news__post--regular .news__post--views::before {
    background: url(/img/svg/eye_black.svg) no-repeat;
}

/* SERVICE */

.service__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
}

.service__post {
    display: flex;
    height: 300px;
    background-size: cover;
    padding: 21px 30px;
}

.service__title {
    align-self: flex-end;
    color: #fff;
    font-family: 'Circe', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
}

/* MAP */

.map {
    background: url(/img/jpg/YandexMap_Stub.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 149px 228px;
}

.map__infrastructure {
    display: flex;
}

.map__infrastructure--menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 30px 18px 30px 30px;
    background: #fff;
    max-width: 375px;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.menu_item::before {

}

.map__infrastructure--menu .menu_item {
    font-size: 20px;
    max-width: 275px;
}

.menu_item--count {
    color: var(--primary-gray);
}

.map__what-to-do {
    display: flex;
    flex-flow: column wrap;
    padding: 30px;
    background: var(--black-alpha80);
}

/* TRANSPORT */

/* RENTERS */

/* REVIEWS */

/* RENT_AD */

/* CALL_US_BACK */

/* FOOTER */